<div class="box">
    <!-- <div class="item">
        <p>Angular</p>
    </div>

    <div class="item">
        <p>Vue</p>
    </div>

    <div class="item">
        <p>React</p>
    </div>

    <div class="item">
        <p>Flutter</p>
    </div> -->

    <!-- <form >
        <div class="item" *ngFor="let tdItem of tdItems">
         <input type="checkbox"
         name="checkbox"
         value=""
         onChange=""  > 
         <p>{{ tdItem.todoItem }}</p>
        </div>
    </form> -->

    <!-- <form > -->
        <div class="item" *ngFor="let tdItem of tdItems">
         <input type="checkbox"
         name="checkbox"
         value=""
         onChange=""  > 
         <p  >{{tdItem.todoItem}}</p>
         
        </div>

        <app-add-to-list></app-add-to-list>
    <!-- </form> -->
    
</div>